$primary: #5505A6;
$link: #0ABEEF;
$info: #1B0140;
$success: #F20544;
$warning: #F2B705;
$danger: #EC720B;

$body-font: "Josefin Sans Light", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: $body-font;
